body {
    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-image: url(bg-image.png);
    background-size: cover;
    background-color: rgb(182, 182, 182);
    background-blend-mode: multiply;
  }
  
  h1 {
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    color: white;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 2rem 0;
  }
  h3 {
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    color: white;
    font-size: 1.5rem;
    margin: 2rem 0;
  }
  
  main {
    padding: 1rem;
  }
  
  p {
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;
  }
  
  i {
    font-style: italic;
  }
  
  .cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;
  }
  
  .card {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    width: 30%;
    padding: 1rem;
    text-align: center;
  }
  
  @media (max-width: 1024px) {
    .cards {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .card {
      width: 80%;
      margin-bottom: 1rem;
    }
  }
  .card.analysis {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 30vh;
  }
  
  .card.analysis h2 {
    margin: 0;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    max-width: 100%;
  }
  
  .card.analysis img {
    max-width: 100%;
    width: 100%;
    height: auto;
    max-height: 20vh;
  }
  .mainText{
    max-width: 50vh;
    }
